# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
logs
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode-test

# Build directories
dist/
build/
out/
.next
.nuxt
.vuepress/dist
**/.vitepress/dist

# Cache directories
.cache/
.parcel-cache/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.npm/
.eslintcache
.stylelintcache
.docusaurus
**/.vitepress/cache
.temp
.fusebox/

# TypeScript
*.tsbuildinfo

# Test and coverage
coverage/
*.lcov
.nyc_output

# Misc
pids/
*.pid
*.seed
*.pid.lock
lib-cov/
.grunt
.lock-wscript
build/Release
web_modules/
.node_repl_history
*.tgz
.yarn-integrity
.serverless/
.dynamodb/
.tern-port
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json