*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-grey: #1b1b32;
  --light-grey: #f5f6f7;
  --golden-yellow: #fecc4c;
  --yellow: #ffcc4c;
  --gold: #feac32;
  --orange: #ffac33;
  --dark-orange: #f89808;
  --vibrant-red: #ff3b3f;
  --dark-red: #b22b2f;
  --light-red: #ff6f6f;
}

body {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease;
}

body,
#message-input:placeholder-shown {
  text-align: center;
}

textarea {
  max-width: 90%;
  border: 2px solid var(--vibrant-red);
  padding: 10px;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

textarea:focus {
  border-color: var(--vibrant-red);
  outline: none;
  box-shadow: 0 0 5px var(--vibrant-red);
}

.main-text {
  margin: 25px 0;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

.title {
  font-size: 3rem;
  color: var(--vibrant-red);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.description {
  margin-top: 15px;
  font-size: 1.4rem;
}

.message-label {
  display: block;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--vibrant-red);
  font-weight: bold;
}

#message-input:placeholder-shown,
textarea {
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.btn {
  display: block;
  cursor: pointer;
  width: 200px;
  margin: 20px auto;
  color: var(--dark-grey);
  background-color: var(--vibrant-red);
  background-image: linear-gradient(to right, var(--vibrant-red), var(--dark-red));
  border-color: var(--dark-red);
  border-width: 3px;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
  background-image: linear-gradient(to right, var(--dark-red), var(--vibrant-red));
  transform: scale(1.1);
}

#result {
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
  color: var(--vibrant-red);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  animation: bounceIn 1s ease-in-out;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

.footer a {
  color: var(--vibrant-red);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}